/* Write your code here. */
.background {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
}
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 20px;
  font-family: Bree Serif;
}
.b {
  background-color: #eab308;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  color: #ffff;
}
.b2 {
  background-color: #ffffff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  color: #323f4b;
}
.b3 {
  background-color: #1d4ed8;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  color: #ffff;
}
